* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: #fcfcfc;
    margin: 0;
}

.container {
    padding: 10px 7%;
    margin-bottom: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5%;
    margin: 20px 0;
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col1 {
    flex-basis: 45%;
}

.col1 img {
    width: 100%;
    height: 70vh;
    border-radius: 15px;
    transition: .3s all ease-in-out;
}

.col1 img:hover {
    transition: .3s all ease-in-out;
    scale: 1.1;
}

.col2 {
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 980px) {
    .row {
        display: block;
    }
    .col1 img {
        display: none;
    }
}

.col1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
}


/* 
.form input {
    margin-bottom: 1rem;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 9px;
} */


/* 
.form input:focus {
    border: none;
    background-color: #DEE5D4;
} */

.btnLogin {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 21px;
    color: white;
    background-color: #5a7898;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* 
.form button:hover {
    background-color: #646cff;
} */


/* .formLogin {
    margin: 15px;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-start;
} */


/* 
.col2 {
    display: contents;
    background-color: #1a1a1a;
} */