* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcfcfc;
    margin: 0;
}

.container {
    height: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    max-width: 900px;
    width: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
    background: url('../../../../public/Sign up.gif') no-repeat center center;
    background-size: contain;
    transition: .3s all ease-in-out;
}

.image:hover {
    transition: .3s all ease-in-out;
    /*background-size:460px;*/
    scale: 1.1;
}

.imageLogin {
    background: url('../../../../public/Tablet login.gif') no-repeat center center;
    background-size: contain;
    transition: .3s all ease-in-out;
}

.imageLogin:hover {
    transition: .3s all ease-in-out;
    /*background-size:460px;*/
    scale: 1.1;
}

@media (max-width: 760px) {
    .container {
        grid-template-columns: 1fr;
    }
    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: 737px;
        opacity: 0.20;
    }
}

.form {
    padding: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -9px;
}

.form input {
    margin-bottom: 1rem;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 9px;
}

.form input:focus {
    border: none;
    background-color: #DEE5D4;
}

.btnLogin {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 21px;
    color: white;
    background-color: #5a7898;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #646cff;
}

.formLogin {
    margin: 15px;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-start;
}

.formInput {
    display: contents;
    background-color: #1a1a1a;
}